<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Clock</title>
    <link rel="stylesheet" href="{{  url_for('static', filename='clock.css')}}">
    <script type="text/javascript" src="{{  url_for('static', filename='script.js')}}"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rubik&display=swap" rel="stylesheet">
</head>
<body onload="start()">
    <div id="container">
        <a href="/reset">
            <button id="reset">Reset</button>
        </a>
        <a href="/logout">
            <button>Logout</button>
        </a>
        <div id="content">
            <input type="hidden" value="{{ user.hours }}" id="hours">
            <input type="hidden" value="{{ user.pay }}" id="pay">
            <p id="earnings">$ 0.00</p>
        </div>
    </div>
</body>
</html>