<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pay</title>
    <link rel="stylesheet" href="{{  url_for('static', filename='pay.css')}}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rubik&display=swap" rel="stylesheet">
</head>
<body>
    <div id="container">
        <a href="/dashboard">
            <button id="back">Back</button>
        </a>
        <a href="/logout">
            <button>Logout</button>
        </a>
        <h1>What is you hourly pay?</h1>
        <form action="/submit_pay" method="POST">
            <label for="pay">$</label>
            <input type="number" name="pay" step="0.01" min="0" placeholder="0.00"><br>
            <button id="submit">Submit ></button>
        </form>
    </div>
</body>
</html>